<div class="chart-wrapper">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [chartType]="barChartType"
          [legend]="barChartLegend"
          [colors]="barChartColors">
  </canvas>
  <div class="row">
    <div class="column">
      <img src="assets/img/Roedt.png" alt="Snow" >
    </div>
    <div class="column">
      <img src="assets/img/FrP_eple_NEG.png" alt="Frp" >
    </div>
    <div class="column">
      <img src="assets/img/MDG_logo.png" alt="MDG" >
    </div>
    <div class="column">
      <img src="assets/img/Venstre_Hovedlogo_rgb_positiv.png" alt="Venstre" >
    </div>
    <div class="column">
      <img src="assets/img/2020_RGB_hoyre_logo_blaa_vimpel.png" alt="Høyre" >
    </div>
    <div class="column">
      <img src="assets/img/Arbeiderpartiet_rosesymbol_rod_72ppi_RGB.png" alt="AP" >
    </div>
    <div class="column">
      <img src="assets/img/krf_logo2017-1.png" alt="Krf" >
    </div>
    <div class="column">
      <img src="assets/img/Logo-RGB_Logo.png" alt="SV" >
    </div>
    <div class="column">
      <img src="assets/img/2020%20kløver%20RGB.png" alt="SP" >
    </div>
  </div>
</div>


